.bg-black {
    background-color: #000000;
}
#home {
    background-color: #242424;
    background-image: url("../img/home.jpg");
    background-blend-mode: overlay;
}
#home > #carouselExampleInterval {
    transition: all 1s ease-in-out;
}
#specs {
    background-color: #3b3b3b;
    background-image: url("../img/specs.webp");
    background-blend-mode: overlay;
}
#promotion > .row > :nth-child(1) {
    background-color: #434343;
    background-image: url("../img/promo.png");
    background-blend-mode: overlay;
    transition: all 0.5s ease-in-out;
}
#footer {
    background-color: #0f0e0f;
}